
                              Datetime

In [ ]:
                
Defination:- A datetime object is a single object containing all the information from a date object and a time object

In [2]:
import datetime

In [3]:
print(datetime.datetime.now())    ## retruns the current datetime object

2022-04-14 15:47:05.428215

In [4]:
print(datetime.datetime.today())

2022-04-14 15:47:30.244308

In [5]:
print(datetime.date.today())         # retruns the current date object

2022-04-14

In [6]:
print(datetime.date.tomarrow())

AttributeError: type object 'datetime.date' has no attribute 'tomarrow'

In [7]:
print(datetime.datetime.now())

2022-04-14 15:48:29.071609

                               
                             time

In [ ]:
                                   
Defination:- time() is a function of the time module that returns the total number of 
             ticks(seconds) spent since 12 AM , January  1st, 1970

In [8]:
import time

In [9]:
print(time.time()) # print the number of ticks spent

1649931634.1519964

In [10]:
print(time.time())

1649931691.439464

In [11]:
print(time.time())

1649931694.2957363

In [47]:
import time
x = datetime.datetime.now()
print(x.year)
print(x.month)
print(x.day)

2022
4
14

In [53]:
x = datetime.datetime(2022, 4, 14)

print(x.strftime("%B"))

April

In [ ]:
%a	Weekday, short version	Wed	
%A	Weekday, full version	Wednesday	
%w	Weekday as a number 0-6, 0 is Sunday	3	
%d	Day of month 01-31	31	
%b	Month name, short version	Dec	
%B	Month name, full version	December	
%m	Month as a number 01-12	12	
%y	Year, short version, without century	18	
%Y	Year, full version	2018	
%H	Hour 00-23	17	
%I	Hour 00-12	05	
%p	AM/PM	PM	
%M	Minute 00-59	41	
%S	Second 00-59	08	
%f	Microsecond 000000-999999	548513	
%z	UTC offset	+0100	
%Z	Timezone	CST	
%j	Day number of year 001-366	365	
%U	Week number of year, Sunday as the first day of week, 00-53	52	
%W	Week number of year, Monday as the first day of week, 00-53	52	
%c	Local version of date and time	Mon Dec 31 17:41:00 2018	
%C	Century	20	
%x	Local version of date	12/31/18	
%X	Local version of time	17:41:00	
%%	A % character	%	
%G	ISO 8601 year	2018	
%u	ISO 8601 weekday (1-7)	1	
%V	ISO 8601 weeknumber (01-53)	01

In [15]:
print(x.strftime("%a"))

Thu

In [14]:
print(x.strftime("%A"))

Thursday

In [16]:
print(x.strftime("%w"))

4

In [17]:
print(x.strftime("%b"))

Apr

In [18]:
print(x.strftime("%d"))

14

In [19]:
print(x.strftime("%B"))

April

In [20]:
print(x.strftime("%m"))

04

In [21]:
print(x.strftime("%y"))

22

In [22]:
print(x.strftime("%Y"))

2022

In [23]:
print(x.strftime("%A"))

Thursday

In [24]:
print(x.strftime("%H"))

16

In [25]:
print(x.strftime("%I"))

04

In [27]:
print(x.strftime("%p"))

PM

In [28]:
print(x.strftime("%M"))

03

In [29]:
print(x.strftime("%S"))

14

In [54]:
print(x.strftime("%f"))

000000

In [31]:
print(x.strftime("%z"))

In [33]:
print(x.strftime("%Z"))

In [34]:
print(x.strftime("%j"))

104

In [45]:
print(x.strftime("%U"))

15

In [46]:
print(x.strftime("%W"))

15

In [37]:
print(x.strftime("%c"))

Thu Apr 14 16:03:14 2022

In [38]:
print(x.strftime("%C"))

20

In [39]:
print(x.strftime("%x"))

04/14/22

In [52]:
print(x.strftime("%X"))

00:00:00

In [41]:
print(x.strftime("%%"))

%

In [42]:
print(x.strftime("%G"))

2022

In [43]:
print(x.strftime("%u"))

4

In [55]:
print(x.strftime("%V"))

15

In [56]:
from datetime import datetime

In [57]:
d = datetime.strptime("13-04-2022 20:53:03" , "%d-%m-%Y %H:%M:%S")
print(d)

2022-04-13 20:53:03

           
           Know How Old are you

In [61]:
from datetime import date

In [2]:
def age(birthdate):
    today = date.today()
    age = today.year - birthdate.year - ((today.month , today.day) < (birthdate.month , birthdate.day))
    print(((today.month , today.day) < (birthdate.month , birthdate.day)))
    return age
my_birthday = date(1999 , 9 , 23)
myage = age(my_birthday)
print(myage)

True
22

                      Python Sleep Module

In [71]:
import time
for i in range(0,10):                                             #sleep()
    print(i * 2)
    
    time.sleep(4)

0
2
4
6
8
10
12
14
16
18

                         date.weekday() function in Python

In [1]:
from datetime import date

today = date.today()
print(today)
print(today.weekday())

if today.weekday() == 0:
    print("Today is : Monday")
elif today.weekday() == 1:
    print("Today is : Tue")
elif today.weekday() == 2:
    print("Today is : Wed")
elif today.weekday() == 3:
    print("Today is : Thu")
elif today.weekday() == 4:
    print("Today is : Fri")
elif today.weekday() == 5:
    print("Today is : Sat")
elif today.weekday() == 6:
    print("Today is : Sun")

2022-04-15
4
Today is : Fri